build/
bin/
lib/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

*.obj
*.o
*.pdb
*.exp
*.lib
*.ilk
*.exe
*.dll
*.so
*.dylib
*.bundle

.vs/
.vscode/
.idea/
*.sln
*.vcxproj*
*.user

.cache/
